html,body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: "Roboto";
}

* {
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}

#displayRanking {
	top: 400px;
	right: 50px;
	color: #ccc;
	width: 465px;
	display: none;
	text-align: left;
	line-height: 30px;
	letter-spacing: 2px;
	padding: 30px 20px 15px;
	text-shadow: 1px 1px #000;
	position: absolute !important;
	background: rgba(15,15,15,.50);
}

#raceTitle {
	line-height: 15px;
	font-size: 20px;
	width: 425px;
	float: left;
}

#raceLegend {
	margin-bottom: 10px;
	font-size: 11px;
	width: 425px;
	float: left;
	color: #999;
}

#raceButtom {
	text-align: right;
	font-size: 11px;
	color: #777777;
	width: 425px;
	float: left;
}

#raceLine {
	background: rgba(15,15,15,.50);
	margin-bottom: 5px;
	width: 425px;
	float: left;
}

.racePosition {
	float: left;
	width: 40px;
	color: #4a380c;
	padding: 3px 0;
	text-shadow: none;
	text-align: center;
	background: #fec026;
}

.raceName {
	float: left;
	width: 190px;
	padding: 3px 0;
	padding-left: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.raceVehicle {
	color: #888;
	float: left;
	width: 135px;
	padding: 3px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.racePoints {
	color: #888;
	float: left;
	width: 50px;
	padding: 3px 0;
}

key {
	color: #ccc;
}

#displayRunners {
	left: 4.7vw;
	bottom: 18vw;
	display: none;
	color: #b8f5d4;
	text-align: left;
	line-height: 30px;
	letter-spacing: 2px;
	text-shadow: 1px 1px #000;
	position: absolute !important;
}

#displayRunners s {
	width: 120px;
	float: right;
	color: #e5e5e5;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
	font-family: "Jura",sans-serif;
}

#raceContent {
	right: 0;
	width: 345px;
	bottom: 320px;
	display: none;
	color: #c6c6c6;
	line-height: 30px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	background: rgba(0,0,0,0.5);
	padding: 15px 15px 15px 10px;
	position: absolute !important;
}

#raceLine {
	float: left;
}