::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }
::-webkit-scrollbar-thumb:hover { background: transparent; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }
:focus { outline: 0; }

body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Roboto";
}

* {
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}

.main-wrapper {
	right: 150px;
	width: 300px;
	bottom: 200px;
	display: none;
	overflow: hidden;
	border-radius: 3px;
	position: absolute;
	background: #fec026;
	padding: 20px 35px 35px;
}

.body {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	font-size: 14px;
	flex-direction: column;
}

.body label {
	color: #4a380c;
	margin-top: 15px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.body input {
	color: #333;
	border: none;
	padding: 10px;
	background: #fff;
	border-radius: 3px;
}

.body textarea {
	color: #333;
	border: none;
	resize: none;
	padding: 10px;
	height: 100px;
	background: #fff;
	border-radius: 3px;
}

.body select {
	color: #333;
	border: none;
	background: #fff;
}

.body option {
	color: #333;
	padding: 1rem 0;
	background: #fff;
}

.footer {
	display: flex;
	padding-top: 20px;
	position: relative;
	align-items: center;
	justify-content: center;
}

.btn {
	border: 0;
	width: 230px;
	color: #fec026;
	padding: 20px 0;
	border-radius: 3px;
	letter-spacing: 1px;
	background: #4a380c;
}