endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creative;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

stop monitor

ensure chat
ensure sessionmanager
ensure oxmysql
ensure vrp
ensure oxdrive

ensure inventory
ensure pma-voice

ensure hud
ensure vehcontrol
ensure logsystem
ensure PolyZone
ensure notebook

ensure [cfx]
ensure [addons]
ensure [phone]

ensure bank
ensure taxi
ensure drugs
ensure spawn
ensure radio
ensure homes
ensure doors
ensure chest
ensure shops
ensure admin
ensure postit
ensure plants
ensure showme
ensure target
ensure police
ensure tablet
ensure notify
ensure tackle
ensure engine
ensure player
ensure sounds
ensure dynamic
ensure vehmenu
ensure notepad
ensure inspect
ensure garages
ensure impound
ensure premium
ensure deliver
ensure service
ensure cemitery
ensure skinshop
ensure evidence
ensure paramedic
ensure creative
ensure animacoes
ensure lscustoms
ensure safecrack
ensure trunkchest
ensure barbershop
ensure notifycall
ensure notifyitens
ensure blipsystem
ensure luckywheel
ensure crafting
ensure robberys
ensure tencode
ensure checkin
ensure hoverfy
ensure tattoos
ensure taskbar
ensure metas

ensure races
ensure works
ensure eletronics
ensure towdriver
ensure register

sv_scriptHookAllowed 0

#rcon_password

sets tags "default"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

#sets banner_detail "https://wipe.gg/creative/crconnect.webm"
#sets banner_connecting "https://wipe.gg/creative/crconnect.webm"

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000146e380b4 group.admin

sv_endpointprivacy true

set sv_enforceGameBuild 2612
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# Set your server's hostname
sv_hostname "Creative Roleplay"
sets sv_projectName "Creative Roleplay"
sets sv_projectDesc "Creative Roleplay"

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 5

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "C6B1156E7913C462728BB00E03791ECA"

# License for Tebex
sv_tebexSecret 238a98bec4c0353fee20ac86d42b34321070ff4d

# License key for your server
sv_licenseKey cfxk_iZQGdJHXLpg9e7pxiFF0_4BkAGO