* {
	margin: 0;
	padding: 0;
}

html,body {
	color: #ccc;
	font-size: 13px;
	overflow: hidden;
	font-family: "Roboto";
	background: transparent;
}

#vehicleMenu {
	left: 20%;
	bottom: 50px;
	display: none;
	cursor: default;
	max-width: 500px;
	position: absolute;
}

.vehicleButton {
	float: left;
	width: 150px;
	margin-top: 8px;
	margin-right: 10px;
	border-radius: 4px;
	position: relative;
	padding: 10px 15px 10px 12px;
	background: rgba(15,15,15,.75);
}

.vehicleButton::before {
	top: 20%;
	left: -2px;
	width: 4px;
	height: 60%;
	bottom: 20%;
	content: "";
	position: absolute;
	border-radius: 4px;
	background: #fec026;
}

.vehicleButton:hover {
	background: rgba(10,10,10,.75);
}

.vehicleButton:hover::before {
	background: #ffd97b;
}