html,body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	overflow: hidden;
	font-family: "Roboto";
	background: transparent;
}

#displayLogo {
	top: 50px;
	right: 50px;
	width: 101px;
	height: 78px;
	opacity: 0.25;
	position: absolute !important;
	animation: creative 10s ease-out infinite;
	background: url("images/logo.png") no-repeat;
}

@keyframes creative {
	10%,100% {
		transform: rotateY(360deg);
	}
}

#displayHud {
	right: 50px;
	bottom: 50px;
	display: none;
	min-width: 500px;
	max-width: 500px;
	position: absolute !important;
}

#displayBoxes {
	float: right;
	color: #c6c6c6;
	font-size: 10px;
	min-width: 500px;
	max-width: 500px;
	text-align: right;
	padding: 15px 0 15px;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #000;
}

#displayBoxes text {
	padding: 4px 10px;
	border-radius: 3px;
	margin-right: 10px;
	text-transform: uppercase;
	background: rgba(15,15,15,.75);
}

#displayBoxes active {
	color: #4a380c;
	padding: 4px 10px;
	border-radius: 3px;
	margin-right: 10px;
	text-transform: uppercase;
	background: #fec026;
	text-shadow: none;
}

#displayBoxes inative {
	padding: 4px 10px;
	border-radius: 3px;
	margin-right: 10px;
	text-transform: uppercase;
	background: rgba(15,15,15,.75);
}

#displayBoxes text:last-child, #displayBoxes inative:last-child, #displayBoxes active:last-child {
	margin-right: 0;
}

#displayInfos {
	float: right;
	min-width: 500px;
	max-width: 500px;
}

.icoBox {
	width: 34px;
	float: right;
	height: 34px;
	margin-left: 10px;
	border-radius: 3px;
	position: relative !important;
	background: rgba(15,15,15,.75);
}

.icoBox img {
	position: absolute;
}

.icoBox div {
	bottom: 0;
	position: absolute;
	transition: all .5s;
}

.oxigen {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(77,87,105,.75);
}

.stress {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(112,78,136,.75);
}

.food {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(204,112,22,.75);
}

.water {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(64,116,187,.75);
}

.armour {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(165,43,66,.75);
}

.health {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(53,133,77,.75);
}

.parachute {
	width: 34px;
	height: 34px;
	border-radius: 3px;
}

#oxigen {
	display: none;
}

#displayProgress {
	right: 50px;
	bottom: 30px;
	width: 166px;
	height: 10px;
	display: none;
	position: absolute;
	border-radius: 3px;
	background: rgba(15,15,15,.75);
}

.progress {
	width: 0;
	height: 10px;
	border-radius: 3px;
	background: rgba(255,255,255,.75);
}

#movieTop {
	top: 0;
	left: 0;
	height: 8vh;
	width: 100vw;
	display: none;
	background: #000;
	position: absolute !important;
}

#movieBottom {
	left: 0;
	bottom: 0;
	height: 8vh;
	width: 100vw;
	display: none;
	background: #000;
	position: absolute !important;
}

#hoodDisplay {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #000;
	position: absolute !important;
}

#displayVehicle {
	float: right;
}

#Velocity {
	float: left;
	width: 100px;
	text-shadow: 1px 1px #000;
}

#Velocity .kmh {
	color: #ccc;
	width: 50px;
	float: right;
	padding: 5px 0;
	text-align: center;
	border-radius: 3px;
	margin-right: 10px;
	letter-spacing: 1px;
	background: rgba(15,15,15,.75);
}

#Velocity .gear {
	color: #ccc;
	width: 24px;
	float: right;
	padding: 5px 0;
	text-align: center;
	border-radius: 3px;
	background: rgba(15,15,15,.75);
}

#Velocity .speed {
	color: #fff;
	float: right;
	font-size: 40px;
	text-align: right;
	font-family: "Jura";
	letter-spacing: 3px;
	padding: 5px 3px 0 0;
}

opacity {
	opacity: 0.25;
}

#Buttons {
	float: left;
	width: 78px;
	margin-left: 10px;
}

#Nitro {
	width: 34px;
	float: left;
	height: 34px;
	margin-right: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative !important;
	background: rgba(15,15,15,.75);
}

#Locked {
	width: 34px;
	float: left;
	height: 34px;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative !important;
	background: rgba(15,15,15,.75);
}

#Fuel {
	width: 34px;
	float: left;
	height: 34px;
	margin-right: 10px;
	border-radius: 3px;
	position: relative !important;
	background: rgba(15,15,15,.75);
}

#Belt {
	width: 34px;
	float: left;
	height: 34px;
	border-radius: 3px;
	position: relative !important;
	background: rgba(15,15,15,.75);
}

#Nitro img, #Locked img, #Fuel img, #Belt img {
	position: absolute;
}

#Nitro div, #Locked div, #Fuel div, #Belt div {
	bottom: 0;
	position: absolute;
	transition: all .5s;
}

.Nitro {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(37,162,143,.75);
}

.Locked {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(137,160,46,.75);
}

.Fuel {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(189,46,46,.75);
}

.Belt {
	width: 34px;
	height: 20px;
	border-radius: 3px;
	background: rgba(57,155,41,.75);
}

#Streets {
	color: #ccc;
	display: flex;
	margin-top: 20px;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
}

#Streets b {
	font-weight: 300;
	opacity: .3;
}

#Mumble {
	color: #ccc;
	display: flex;
	padding: 20px 0;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	background: rgba(15,15,15,.75);
}

.displayMap img {
	left: 2.2vw;
	width: 16.5vw;
	bottom: 1.2vw;
	height: 16.5vw;
	transition: 1s;
	position: absolute;
	image-resolution: 300dpi;
}

.displayWeapon {
	color: #ccc;
	float: right;
	display: none;
	line-height: 17px;
	text-align: right;
	margin-right: 5px;
	text-shadow: 1px 1px #000;
}

.displayWeapon b {
	color: #b8f5d4;
	font-weight: 300;
}