html,body {
	font-size: 13px;
	overflow: hidden;
	font-family: "Roboto";
	background: transparent !important;
}

#notifications {
	right: 50px;
	z-index: 9999;
	bottom: 225px;
	display: flex;
	color: #c6c6c6;
	max-width: 400px;
	letter-spacing: .5px;
	align-items: flex-end;
	flex-direction: column;
	position: absolute !important;
}

#notifications > div {
	color: #c6c6c6;
	margin-top: 12px;
	line-height: 20px;
	position: relative;
	border-radius: 4px;
	text-shadow: 1px 1px #000;
	padding: 15px 20px 15px 45px;
}

#notifications > div::after {
	left: 5%;
	width: 90%;
	height: 4px;
	content: "";
	bottom: -2px;
	position: absolute;
	border-radius: 4px;
	background: rgba(150,150,150,.75);
}

#notifications b {
	color: #fff;
	font-weight: 300;
}

.timer-bar {
	left: 5%;
	width: 90%;
	height: 4px;
	z-index: 9999;
	margin-top: 13px;
	position: absolute;
	border-radius: 4px;
	background-color: #fafafa;
}

#verde {
	background: rgba(15,15,15,.75) url("images/check.png") no-repeat center left 11px;
}

#verde > .timer-bar {
	background-color: #a3c846 !important;
}

#vermelho {
	background: rgba(15,15,15,.75) url("images/cancel.png") no-repeat center left 11px;
}

#vermelho > .timer-bar {
	background-color: #e61a42 !important;
}

#blood {
	background: rgba(15,15,15,.75) url("images/blood.png") no-repeat center left 11px;
}

#blood > .timer-bar {
	background-color: #fb5858 !important;
}

#hunger {
	background: rgba(15,15,15,.75) url("images/hunger.png") no-repeat center left 11px;
}

#hunger > .timer-bar {
	background-color: #fc913a !important;
}

#thirst {
	background: rgba(15,15,15,.75) url("images/thirst.png") no-repeat center left 11px;
}

#thirst > .timer-bar {
	background-color: #669ae1 !important;
}

#azul {
	background: rgba(15,15,15,.75) url("images/ring.png") no-repeat center left 11px;
}

#azul > .timer-bar {
	background-color: #6fa9dc !important;
}

#amarelo {
	background: rgba(15,15,15,.75) url("images/important.png") no-repeat center left 11px;
}

#amarelo > .timer-bar {
	background-color: #ffb400 !important;
}

#locked {
	background: rgba(15,15,15,.75) url("images/locked.png") no-repeat center left 11px;
}

#locked > .timer-bar {
	background-color: #6eb969 !important;
}

#unlocked {
	background: rgba(15,15,15,.75) url("images/unlocked.png") no-repeat center left 11px;
}

#unlocked > .timer-bar {
	background-color: #e62441 !important;
}

#default {
	padding: 15px 20px !important;
	line-height: 20px !important;
	background: rgba(15,15,15,.75);
}

#default > .timer-bar {
	background-color: #fff !important;
}

#Shortcuts {
	top: 22%;
	left: 50px;
	bottom: 18%;
	height: 60%;
	width: 150px;
	display: none;
	position: absolute;
}

#Shortcuts div {
	width: 100px;
	height: 100px;
	font-size: 10px;
	border-radius: 4px;
	position: relative;
	margin-bottom: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background: rgba(15,15,15,.75);
	background-size: 95% !important;
}

#Shortcuts div::after {
	top: 34px;
	width: 31px;
	right: -15px;
	padding: 8px 0;
	color: #4a380c;
	font-size: 13px;
	text-align: center;
	position: absolute;
	border-radius: 100%;
	background: #fec026;
	content: attr(data-value);
}

#Shortcuts div:last-child {
	margin-bottom: 0;
}